QLabel#SubWidget
{
    border-bottom-right-radius : 5px;
    border-bottom-left-radius : 5px;
    background-color:#CCC;
}

QWidget#GlobalWidget
{
    background-color:white;
}

#bookmark_button
{
    margin: 0;
    text-align:center;
}

#bookmark_widget_image
{
    margin: 0;
    text-align:center;
}

QWidget#BookmarkWidget
{
    background-color:white;
    /*margin: 10;
    min-width : 65;
    max-height: 65;*/
}

#BookmarkWidget_scroll
{
    margin: 0;
    /*min-width: 95;*/
}

QScrollArea
{
    background-color: white; 
    border:none;
}

BookmarkButton
{
    background-color:transparent;
    border:none;
}

BookmarkButton:hover
{
	/*background-color:#ccc;
	border-radius: 5px;
	border:1px solid #666;*/
}

BookmarkButton QPushButton#remove_button
{
    background:url(IMG_DIR/data_theme_dismiss_button_hover.png) no-repeat transparent;
    border:0px;
    padding:0px;
}

